pandas
requests
numpy
scikit-learn
SQLAlchemy
psycopg[binary]
python-dotenv
fastapi
uvicorn[standard]
sentence-transformers
streamlit
plotly
anthropic
google-generativeai
pyspellchecker
aiohttp
